<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DoApp | Edit List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<header class="container-fluid p-3 bg-primary text-white">
    <h1>DoApp | Edit List</h1>
</header>
<main class="container mt-3">
    <section class="p-3">
        <form method="post" action="/list/edit">
            <input type="hidden" name="token" th:value="${token}">
            <input type="hidden" name="listId" th:value="${listId}">
            <div class="row">
                <label class="fw-bold">Edit List: </label>
                <label th:text="${name}"></label>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <input name="newName" th:value="${name}"/>
                </div>
                <div class="col-sm-3">
                    <button class="btn my-button">Cancel</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary my-button">Save</button>
                </div>
            </div>
        </form>
    </section>
</main>
</body>
</html>