<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Permissions</title>
</head>
<body>
<div>List name One</div>
<br>
<div>
    <tr>
        <th>Grantees</th>
        <th>Permissions</th>
    </tr>
    <tr>
        <td>Name Surname One
        </td>
        <td>Name Surname Two</td>
    </tr>
    <tr>
        <td>Revoke</td>
        <td>Revoke</td>
    </tr>
</div>
<br>
<div>Grant permission to (e-mail)</div>
<br>
<div>example@email.com</div>
<div>grant</div>
</body>
</html>