<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoApp || Register</title>
</head>
<body>
<main class="container">
    <section>
        <form method="post" action="/register">
            <div>
                <label class="form-label">Enter Your Name and Surname</label>
                <input class="form-control" name="nameSurname" type="text" required>
            </div>
            <div>
                <label class="form-label">Enter your username</label>
                <input class="form-control" name="userName" type="text" required>
            </div>
            <div>
                <label class="form-label">Enter your password</label>
                <input class="form-control" name="password" type="password" required>
            </div>
            <div>
                <label class="form-label">Enter your email</label>
                <input class="form-control" name="email" type="email" required>
            </div>

            <div class="row p-1 mb-3">
                <button class="btn btn-primary p-3" type="submit">Create an account</button>
            </div>
        </form>
    </section>
</main>
</body>
</html>